Repository gogosari/gogosari-fe: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{js,ts,jsx,tsx}'
      run: npx eslint {staged_files} --fix
      stage_fixed: true
    prettier:
      glob: '*.{js,ts,jsx,tsx,json,yaml,md,prettierrc}'
      run: npx prettier --write {staged_files}
      stage_fixed: true
pre-push:
  parallel: true
  commands:
    audit-check:
      run: yarn audit
    type-check:
      run: yarn type-check
prepare-commit-msg:
  commands:
    template:
      run: node .github/scripts/copy-template.js {1}

style: prettier 적용
  app/globals.css
  app/layout.tsx
  app/page.tsx
  next.config.ts
  postcss.config.mjs
Due: eslint, prettier

feat: 프리텐다드 폰트 설정
  app/globals.css
  app/layout.tsx
  public/font/PretendardVariable.woff2
Due: eslint, prettier

chore: tailwind prettier 플러그인 설정
  .prettierrc.json
  package.json
  yarn.lock
Due: prettier

settings: tanstack query 세팅
  app/layout.tsx
  package.json
  shared/query/client.ts
  shared/query/config.ts
  shared/query/hydrate.tsx
  shared/query/index.ts
  shared/query/provider.tsx
  yarn.lock
Due: eslint, prettier

feat: axios 인스턴스 추가
  package.json
  shared/api/axios.ts
  shared/api/interceptors.ts
  yarn.lock
Due: eslint, prettier

settings: shadcn 설정 추가
  app/globals.css
  components.json
  package.json
  shared/lib/utils.ts
  yarn.lock
Due: eslint, prettier

fix: 디렉토리 오타 수정
  public/fonts/PretendardVariable.woff2
Due: none

remove: 미사용 svg 정리
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
Due: none

feat: shadcn 컴포넌트 추가
  package.json
  shared/components/ui/button.tsx
  shared/components/ui/label.tsx
  shared/components/ui/radio-group.tsx
  shared/lib/utils.ts
  yarn.lock
Due: eslint, prettier

chore: @svgr/webpack 의존성 설치, 설정 구성
  next.config.ts
  package.json
  public/svgs/document-outline.svg
  public/svgs/heart-outline.svg
  public/svgs/home-outline.svg
  public/svgs/people-outline.svg
  public/svgs/ranking-outline.svg
  yarn.lock
Due: eslint, prettier

feat: 하단 네비게이션 탭바 컴포넌트 구성
  app/community/page.tsx
  app/globals.css
  app/layout.tsx
  app/my/page.tsx
  app/page.tsx
  app/ranking/page.tsx
  app/report-location/page.tsx
  shared/components/common/tab-bar-item.tsx
  shared/components/common/tab-bar.tsx
Due: eslint, prettier

feat: button에 varient 추가(back)
  shared/components/ui/button.tsx
Due: eslint, prettier

feat: onboarding button 그룹 추가
  features/onboarding/components/buttons/buttons.tsx
  features/onboarding/components/buttons/next-button.tsx
  features/onboarding/components/buttons/prev-button.tsx
Due: eslint, prettier

feat: skip 버튼 추가
  features/onboarding/components/buttons/skip-button.tsx
Due: eslint, prettier

feat: onboarding title 컴포넌트 추가
  features/onboarding/components/title.tsx
Due: eslint, prettier

feat: onboarding radio 컴포넌트 추가
  features/onboarding/components/radio.tsx
Due: eslint, prettier

feat: onboarding 이미지 추가
  public/images/bug-1.png
  public/images/bug-2.png
  public/images/bug-3.png
  public/images/bug-4.png
  public/images/camping.png
  public/images/experience-1.png
  public/images/experience-2.png
  public/images/experience-3.png
  public/images/experience-4.png
  public/images/together-1.png
  public/images/together-2.png
  public/images/together-3.png
  public/images/together-4.png
Due: none

feat: onboarding type 추가
  features/onboarding/types.ts
Due: eslint, prettier

feat: onboarding 메인 페이지 추가
  app/onboarding/page.tsx
Due: eslint, prettier

feat: 식물 이미지 추가
  public/images/shape-1.png
  public/images/shape-2.webp
  public/images/shape-3.png
  public/images/shape-4.png
Due: none

feat: image용 라디오 컴포넌트 추가
  features/onboarding/components/image-radio.tsx
Due: eslint, prettier

feat: onboarding steps 추가
  app/onboarding/step/page.tsx
  features/onboarding/components/steps/bug-step.tsx
  features/onboarding/components/steps/experience-step.tsx
  features/onboarding/components/steps/shape-step.tsx
  features/onboarding/components/steps/together-step.tsx
Due: eslint, prettier

fix: 네비게이션 onboarding에 뜨는 문제 해결
  app/(main)/community/page.tsx
  app/(main)/layout.tsx
  app/(main)/my/page.tsx
  app/(main)/page.tsx
  app/(main)/ranking/page.tsx
  app/(main)/report-location/page.tsx
  app/(onboarding)/layout.tsx
  app/(onboarding)/onboarding/page.tsx
  app/(onboarding)/onboarding/step/page.tsx
  app/layout.tsx
Due: eslint, prettier

chore: docker 파일 구성
  .dockerignore
  Dockerfile
Due: none

edit Dockerfile
  Dockerfile
Due: none

edit node version
  Dockerfile
Due: none

feat: onboarding result 페이지 이미지 및 아이콘 추가
  public/images/beginner.png
  public/images/explorer.png
  public/images/gosary.png
  public/svgs/check.svg
Due: none

chore: 노드 버전 변경, v20.18.2
  .nvmrc
  Dockerfile
Due: none

feat: 상수 설정 및 result 페이지로 결과 전달
  features/onboarding/components/steps/bug-step.tsx
  features/onboarding/components/steps/experience-step.tsx
  features/onboarding/components/steps/shape-step.tsx
  features/onboarding/components/steps/together-step.tsx
  features/onboarding/constants.ts
  features/onboarding/results.ts
Due: eslint, prettier

feat: onboarding 결과 페이지 구현
  app/(onboarding)/onboarding/result/page.tsx
  features/onboarding/components/result-type-item.tsx
Due: eslint, prettier

design: 디자인 수정
  features/onboarding/components/buttons/skip-button.tsx
  features/onboarding/components/image-radio.tsx
  features/onboarding/components/radio.tsx
Due: eslint, prettier

edit npm version
  Dockerfile
  goorm.manifest
Due: none

feat: scrollLinked 컴포넌트 추가
  package.json
  shared/components/common/scroll-linked.tsx
  yarn.lock
Due: eslint, prettier

chore: 도커 빌드 안되는 부분 수정
  .nvmrc
  Dockerfile
  next.config.ts
  package.json
  yarn.lock
Due: eslint, prettier

chore: test
  tsconfig.json
Due: prettier

chore: test commit reverts
  tsconfig.json
Due: prettier

feat: kakao maps SDK 셋팅, 카카오 맵 구성
  app/(main)/page.tsx
  package.json
  shared/components/common/kakao-map.tsx
  yarn.lock
Due: eslint, prettier

fix: 동적 렌더링 설정
  app/(onboarding)/onboarding/result/page.tsx
Due: eslint, prettier
